html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: white;
}

.sidebar {
    position: fixed;
    width: 240px;
    height: 100vh;
    background-color: white;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.15);
    z-index: 1;
}

.logo {
    width: 230px;
    margin-bottom: 20px;
}

nav a {
    font-family: Ovo, serif;
    display: block;
    color: #848C8E;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 30px;
}

nav a.active {
    color: #C43737;
    font-weight: bold;
}

nav a:hover {
    color: #C43737;
}

.language {
    display: inline-block;
    align-self: flex-end;
    padding: 8px 12px;
    border-radius: 15px;
    border: 2px solid #C43737;

    color: #C43737;
    font-family: Ovo, serif;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

.main {
    margin-left: 240px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.main > * {
    margin: 40px;
}

.scroll {
    position: sticky;
    top: 0;
    height: 100%;
}

.red-div {
    background-color: #C43737;
    color: #FDFDFD;
    border-radius: 8px;

    padding: 60px 40px;
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.white-div {
    background-color: white;
    color: #473935;
    border-radius: 8px;

    padding: 60px 40px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}


h1, h2, h3{
    font-family: Ovo, serif;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

blockquote { /* quote !*/
    display: inline-block;
    padding: 20px 10px 0 50px;
    position: relative;
    font-size: 30px;
    line-height: 1.5; /* space in between lines of text */
    font-family: Ovo, serif;
    color: #FDFDFD;
}

blockquote::before { /* adds quote icon in blockquote  */
    content: "“";
    position: absolute;
    top: -10px;
    left: 0;
    font-size: 8rem;
    line-height: 1;
    color: rgba(255,255,255,0.4);
}


h3 {
    font-size: 21px;
}

p {
    font-family: Mulish, sans-serif;
    font-weight: 500;
}

.section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 40px;
}

.section-image img {
    max-height: 350px;
    width: auto;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.section-text {
    max-width: 500px;
    text-align: center;
}

.photo-div {
    margin-top: 0;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: sans-serif;
    letter-spacing: 2px;
}

.photo-text {
    background-color: rgb(132, 140, 142, 0.4);
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer {
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    color: #473935;
    background-color: #FDFDFD;
    padding-top: 25px;
    border-top: 1px solid #E0E0E0;
}

/* animated button time! */

.animated-btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-family: Ovo, serif;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    position: relative;
    transition: all .35s;
    border-radius: 10px;
    overflow: hidden;
}

.animated-btn span {
    position: relative;
    z-index: 2;
}

.animated-btn::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: white;
    transition: all .35s;
    z-index: 1;
}

.animated-btn:hover {
    color: #C43737;
}

.animated-btn:hover::after {
    width: 100%;
}

/* end button */