html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: white;
}

.sidebar {
    position: fixed;
    width: 240px;
    height: 100vh;
    background-color: white;
    padding: 0px 20px;
    text-align: center;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.15);
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.logo {
    width: 230px;
    margin-bottom: 20px;
}

nav a {
    font-family: Ovo, serif;
    display: block;
    color: #848C8E;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 30px;
}

nav a.active {
    color: #C43737;
    font-weight: bold;
}

nav a:hover {
    color: #C43737;
}

.nav-toggle {
    display: none;
    padding: 5px 10px;
    margin-right: 20px;
    border-radius: 16px;
    background-color: rgba(250, 250, 250, 0.9);
    color: #C43737;
    border: 2px solid rgb(196, 55, 55, 1);
    font-weight: 900;
    font-size: 20px;
}

.language {
    padding: 8px 12px;
    background-color: rgba(250, 250, 250, 0.9);
    border-radius: 16px;
    border: 2px solid rgb(196, 55, 55, 1);

    color: #C43737;
    font-family: Ovo, serif;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    align-content: center;
}

.main {
    margin-left: 260px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
    overflow-y: auto;
}

.main > * {
    margin: 15px 40px;
}

.top {
    display: flex;
    right: 0;
    padding: 15px 65px;

    z-index: 2;
    position: fixed;
    justify-content: flex-end;
}

.scroll {
    position: sticky;
    top: 0;
}

.red-div {
    background-color: #C43737;
    color: #FDFDFD;
    border-radius: 8px;

    min-height: 380px;
    padding: 60px 40px;
    text-align: center;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.white-div {
    background-color: white;
    color: #473935;
    border-radius: 8px;

    min-height: 380px;
    padding: 60px 40px;
    text-align: center;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}


h1, h2, h3{
    font-family: Ovo, serif;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

blockquote { /* quote !*/
    display: inline-block;
    position: relative;
    font-size: 30px;
    line-height: 1.5; /* space in between lines of text */
    font-family: Ovo, serif;
}

blockquote::before { /* adds quote icon in blockquote  */
    content: "“";
    position: absolute;
    top: -30px;
    left: -50px;
    font-size: 8rem;
    line-height: 1;
    color: rgb(196, 55, 55, 1);;
}


h3 {
    font-size: 21px;
}

p {
    font-family: Mulish, sans-serif;
    font-weight: 500;
}

.section-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 1;
    gap: 40px;
}

.color-div {
    display: flex;
    align-items: center;
    height: 100%;
}

.section-image img {
    max-width: 400px;
    width: auto;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.section-text {
    max-width: 400px;
    text-align: center;
}

.photo-div {
    margin-top: 75px;
    border-radius: 16px;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: sans-serif;
    letter-spacing: 2px;
}

.photo-text {
    padding: 0 20px;
    background-color: rgb(132, 140, 142, 0.2);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer {
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    color: #473935;
    background-color: #FDFDFD;
    padding-top: 25px;
    border-top: 1px solid #E0E0E0;
}


@media (max-width: 1032px) {
    .sidebar {
        left: -240px;
        top: 0;
        transition: left 0.3s ease;
    }

    .sidebar.open {
        left: 0;
    }

    #nav-toggle {
        display: block;
    }

    .main {
        margin-left: 20px;
    }

    .section-content {
        flex-direction: column;
    }

    .section-image img {
        max-width: 300px;
    }

    .scroll {
        position: initial;
        top: auto;
        height: auto;
    }

}

/* animated button time! */

.animated-btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-family: Ovo, serif;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    position: relative;
    transition: all .35s;
    border-radius: 10px;
    overflow: hidden;
}

.animated-btn span {
    position: relative;
    z-index: 2;
}

.animated-btn::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: white;
    transition: all .35s;
    z-index: 1;
}

.animated-btn:hover {
    color: #C43737;
}

.animated-btn:hover::after {
    width: 100%;
}

/* end button */